<!DOCTYPE html>
<html ng-app="gamesApp">
<head>
  <title>Node-Mongo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
  <body ng-controller="gamesController">

    <div class="container">

      <div class="col-sm-6">
        <form ng-submit="saveGame(game)">
          <div class="form-group">
            <input type="text" placeholder="Name" ng-model="game.name" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Status" ng-model="game.status" class="form-control">
          </div>
          <!--<div class="form-group">
            <input type="text" placeholder="Group Name" ng-model="game.environment" class="form-control">
          </div>-->
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="game in games">
            <h3>{{game.name}}</h3>
            <h4>status: {{game.status}}</h4>
            <h5 class="red" ng-class="{prod:'production', dev:'development' }[game.environment]">status: {{game.environment}}</h5>
            <label for="game-lang-desc">Select language description</label>
           <select ng-model="description">
                <option value="English Description.">GB</option>
                <option value="French Description to appear here.">FR</option>
                <option value="American English Description will be presented here.">US</option>
            </select>

            <p>{{description}}</p>
            <ul>
                <li ng-repeat="group in game.groups">
                    <p>ID: {{group.id}}</p>
                    <p>Name: {{group.name}}</p>
                    <p>Description: {{group.description}}</p>
                    <p>proportion: {{group.proportion}}</p>
                    <p>URL: {{group.url}}</p>
                </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>